body
{
    font-size: 16px;
    color: #000;
    background-color: #d1cdcf;
    font-family: 'Oxygen', sans-serif;
}
#header-nav
{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    border: solid 1px black;
}

.navbar-brand
{
    padding-top: 25px;
}
.navbar-brand h1
{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75em;

}
.navbar-brand a:hover, .navbar-brand a:focus
{
    text-decoration: none;
}
.navbar-brand p
{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
#nav-list
{
    margin-top: 10px;
}
#nav-list a
{
    color: #951c49;
    text-align:center;
}
#nav-list a:hover
{
    background: #E7E7E7;
}
#nav-list a span
{
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle
{
    clear: both;
    margin-top: -30px;
}

#main-content > h1
{
    text-align: center;
    margin-bottom: 60px;
}
.content
{
    background-color: #6b7267;
}
p h3
{
    text-align: center;
    margin-bottom: 20px;
}








/********************large device only********************/
@media(min-width:1200px)
{
   
}
/*******************mediumm device only*****************/
@media(min-width:992px) and (max-width:1199px)
{

}
/************small device*******************/
@media(min-width:768px) and (max-width:991px)
{
   

}
/**************extra small devices only *******************/
@media(max-width:767px)
{
   .navbar-brand
   {
       padding-top: 10px;
       height: 80px;
   }
   .navbar-brand h1 
   {
       padding-top: 10px;
       font-size: 5vw;
   }
   .navbar-brand p
   {
      
       font-size: .6em;
       margin-top: 20px;
   }
   .navbar-brand p img 
   {
       height: 20px;
   }
   #collapsable-nav a 
   {
       font-size: 1.2em;
   }
   #collapsable-nav a span
   {
       font-size: 1em;
       margin-right: 5px;
   }
   
 
  
  #menu-tile, #specials-tile
   {
       width:360px;
       margin: 0 auto 15px;
   } 
   
   

}
/******** super extra small device ***********/
 @media(max-width:479px)
{
   
} 
#collapsable-nav a span
{
    font-size: 1em;
}
.food-name
{
    text-align: center;
    margin-bottom: 30px;
}
#home  a
{
    color: #7c3e3e;
}